@media (max-width: 317px) {
  .nav-mini {
    .container {
    height: 250px;
    margin-bottom: 20vh;
    }
    p {
      color: red; /*<--dodane dla unaocznienia nachodzenia tekstu*/
      position: absolute;
      z-index: 2;
    }
  }

  .gallery {
    [class*="col"] {
      // margin-top: 140px;
    }
  }
}
